section:nth-child(2n){
    background-color: rgb(201, 219, 245);
}

/* NAVBAR */

.navbar{
    background-color: whitesmoke;
}
.navbar-nav .nav-link {
    color: #0c0b0b;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

@media  screen and (min-width: 1024px) {
    .navbar-nav .nav-item {
        padding: 0 1rem;
        
    }
}

.navbar-nav .nav-item {
    padding: 0 1rem;
}

/* HERO */

 section.hero {
    background-color: rgb(201, 219, 245);
    padding-top: 70px;
}

@media  screen and (max-width: 576px) {
    section.hero {
        text-align: center;
    }
    section.hero img{
        width: 68%;
        height: 30%;

    }
}

/* SERVICES */

section.services {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto 0;

 }

 .card{
    border: 2px solid #0c0b0b;
    box-shadow: 4px 4px #0c0b0b;
 }
 .card-img-top {
    height: 250px;
    object-fit: fit;
  }

 /* ABOUT */
 @media  screen and (min-width: 1024px){
 section.about .container{
     text-align: center;
     width: 60%;
 }
}

/* PROJECTS */

section.projects {
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto 0;

}



/* CONTACT */

section.contact{
    text-align: center;
}



.contact.container.row.col a{
    text-decoration: none;
    text-decoration-color: blanchedalmond;
}

p{
    font-size: 16px;
}